.split-pane {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.split-pane__left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: '8px';
  gap:  '8px';

  > * {
    display: flex;
    flex-direction: column;
    gap:  '8px';
    max-width: 400px;
  }
}

/* stylelint-disable-next-line a11y/no-display-none */
.split-pane__right {
  display: none; /* Right pane is hidden by default */
}

@media (min-width:'500px') {
  .split-pane__right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}
